*.iml
.DS_Store

# IDEA
/.idea/caches/
/.idea/libraries/
/.idea/sonarlint/
/.idea/assetWizardSettings.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml

# Eclipse / VSCode
/.project
/.settings/
*/.classpath
*/.project
*/.settings/

# build system
.cxx/
.externalNativeBuild/
.gradle/
/build/
/captures/
/ktlint/
/local.properties

# build output
/*/release/

# javadoc
/javadocs/
